<div class="container" id="home-container">
  <div id="page-content">
    <div class="container-fluid text-sm-center text-white p-5 bg-secondary home-jumbotron">
        <h1 class="display-2">Alpha Blog</h1>
        <p class="lead">A One-day Conference About All Things JavaScript!</p>
        <%= link_to "Sign Up", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
