
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white fixed-bottom">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Alpha Blog", root_path, class: "text-white text-decoration-none" %></small>
  </div>
</footer>
